# Configuración de la aplicación
JWT_SECRET=llave_secreta
PORT=3000

DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@HOST_DIRECT/neondb?sslmode=require

DB_SCHEMA=public

# Opciones adicionales de base de datos (opcionales)
# DB_SYNCHRONIZE=false
# DB_LOGGING=false
