# Configuración de la aplicación
JWT_SECRET=llave_secreta
PORT=3000

# Configuración de la base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=contraseña
DB_NAME=social
DB_SCHEMA=public

# Opciones adicionales de base de datos (opcionales)
# DB_SYNCHRONIZE=false
# DB_LOGGING=false
